<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="comment-main">
    <div class="header">
        <div class="title"><span><%= title %></span></div>

        <div class="logout-wrapper"><a href="/logout">退出登录</a></div>
    </div>

    <ul class="content">
        <% for(var i = 0; i < comment_list.length; i++) { %>
        <li class="vcard">
            <div class="vhead">
                <% if(comment_list[i].get('link')) { %>
                    <% var link = comment_list[i].get('link'); %>
                    <% if(link.indexOf("//") != -1) { %>
                        <a href="<%= link %>" target="_blank" rel="nofollow"> <%= comment_list[i].get('nick') %></a>
                    <% } else { %>
                        <a href="//<%= link %>" target="_blank" rel="nofollow"> <%= comment_list[i].get('nick') %></a>
                    <% } %>
                <% } else { %>
                    <span id="nick"><%= comment_list[i].get('nick') %></span>
                <% } %>
                <% var date = comment_list[i].get('createdAt') %>
                <% if(comment_list[i].get('mail')) { %>
                <span class="spacer">•</span><span class="vtime"><%= comment_list[i].get('mail') %></span>
                <% } %>
                <span class="spacer">•</span><span class="vtime"><%= dateFormat(date) %></span>

            </div>
            <div class="vcomment">
                <%- comment_list[i].get('comment') %>
            </div>
            <div class="check">
                <% if(comment_list[i].get('isSpam')) { %>
                <a href="/comments/not-spam?id=<%= comment_list[i].get('objectId') %>" rel="nofollow">这不是垃圾评论</a>
                <% } else { %>
                <a href="/comments/mark-spam?id=<%= comment_list[i].get('objectId') %>" rel="nofollow">标记为垃圾评论</a>
                <% } %>
                <span class="spacer">•</span>
                <a class="red" href="/comments/delete?id=<%= comment_list[i].get('objectId') %>" rel="nofollow">删除</a>
                <span class="spacer">•</span>
                <a class="blue" href="<%= process.env.SITE_URL+comment_list[i].get('url')+'#' + comment_list[i].get('objectId') %>" target="_blank" rel="nofollow">查看评论</a>
                <% if (comment_list[i].get('rid')) { %>
                <% if(comment_list[i].get('isNotified')) { %>
                <span class="spacer">•</span><span class="vtime">通知已送达</span>
                <% } else { %>
                <span class="spacer">•</span>
                <a href="/comments/resend-email?id=<%= comment_list[i].get('objectId') %>" rel="nofollow">重发通知邮件</a>
                <% } %>
                <% } %>
            </div>

        </li>
        <% } %>
    </ul>
</div>
<div id="goTopBtn">
    <a class="button" href="#">
        <svg viewBox="0 0 24 24" width="24" height="24" fill="#8590a6">
            <path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path>
        </svg>
    </a>
</div>
</body>
</html>
